div #content {
  width: 100%;
  padding: 0px;
  border: none;
  color: black;
  margin-left: 0;
  margin-right: auto;
  background-color: #ffffff;
  position: relative;
}

div #top_title, #sideMenu {
  display: none;
}

div .container {
  margin-top: 15px;
}

#HQ_page p {
  /*text-align: center;*/
}

#footer li {
  margin: 0;
}


/*Temporary style to fix the outlook on other pages*/
div #HQ_page {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.column {
  padding: 20px 30px 0 30px;
}

.column.half_size {
  float:left;
  width: 50%;
}
